.header-inner{
  height: auto;
  padding: 0px;
}
.header-inner .title {
  font-size: 1.83rem;
  font-weight: bold;
}
.page-inner {
  max-width: 800px;
  padding:20px 15px 40px 15px;
}
.header-inner #book-search-input {
  background: #e8b21f;
}
.header-inner #book-search-input #searchBtn {
  color: #ffffff;
  margin: 0 20px;
}
